<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    {{#if dependencies}}
    <ul>
        {{#each dependencies}}
        <li>{{@key}} - {{this}}</li>
        {{/each}}
    </ul>
    {{/if}}
</body>

</html>